.controlsBlock {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
}

.sideBar, .sideBar > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar {
    background-color: darkslategray;
}

.shelfRow {
    padding: 20px;
    border-bottom: 8px solid #8b5a2b;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: lightcoral;
}